/*
 * Highly influenced by http://asciidoctor.org (MIT)
 */
body {
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
    max-width: 60em;
}

header h1 {
    font-size: 1.8em;
    font-weight: 300;
}

header {
    margin-top: 2.5em;
    text-align: center;
    border-bottom: 1px solid #ddddd8;
    margin-bottom: 1.5em;
}

a, a:visited, a:hover {
    font-size: 1em;
    text-decoration: none;
    color: #ba3925;
}

nav {
    margin-top: -5px;
}

nav a {
    display: inline-block;
    width: 100px;
    margin-bottom: 0.5em;
}

#content h1 {
    float: left;
    font-size: 1.3em;
    font-weight: 300;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddddd8;
}

* {
    clear: left;
}






/*
h1 {
}

h2, h3 {
    float: left;
    font-weight: 300;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddddd8;
}

h2 {
    color: #ba3925;
}

h3 {
    margin-top: 5px;
    margin-bottom: 10px;
}

p {
    padding-top: 0;
    margin-top: 0;
}



h1 {
}
*/
