<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ site.name }} - {{ page.title }}</title>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <h1>{{ site.name }}</h1>
            <nav>
                <a href="contact">Contact</a>
                <a href="advisories">Advisories</a>
                <a href="advisories">Exploits</a>
            </nav>
        </header>
        <div id="content">
            {{ content }}
        </div>
    </body>
</html>
