<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ site.name }} - {{ page.title }}</title>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <h1>{{ site.name }}</h1>
            <ul id="nav">
                <li><a href="contact">Contact</a></li>
                <li><a href="advisories">Advisories</a></li>
            </ul>
        </header>
        <div id="content">
            {{ content }}
        </div>
    </body>
</html>
