<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ site.name }} - {{ page.title }}</title>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
        <!--<h1>{{ site.name }}</h1>-->
                <img src="https://avatars2.githubusercontent.com/u/8175517"></img>
            <nav>
            <!--<a href="contact">contact</a>-->
                <a href="advisories">advisories</a>
            </nav>
        </header>
        <div id="content">
            {{ content }}
        </div>
    </body>
</html>
